<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.snn.org"
        version   = "1.0.0">

    <name>DMS Mobile</name>
    <preference name="load-url-timeout" value="60000" />
    <preference name="auto-hide-splash-screen" value="false" />
	<preference name="phonegap-version" value="2.9.0" />
	
	<icon src="icon.png" />

	<description>
        DMS Mobile
    </description>

    <author href="https://build.phonegap.com" email="snn.org@gmail.com">
        Stoyan Ivanov, Nikolay Rusev, Nikolai Karadjov
    </author>

</widget>
